@model IEnumerable<DansBlog.Model.Entities.Post>

@{
    ViewBag.Title = "About";
}

<h2 class="title">@ViewBag.Title</h2>
<br />
<p>
    Hi.  I’m Daniel Dutton, a Software Developer currently living in Fleetwood, Lancashire, UK. I write ASP.NET applications, enjoy developing, 
    and like to have a dabble with most programming languages.  When I’m not bashing away at the keyboard, I can usually be found cycling along the Fylde Coast, 
    or out with my friends.
</p>

<p>
    I built this blog site as an alternative to using canned solutions such as Wordpress.   I took an interest in the ASP.NET MVC framework and thought 
    building a blog site from scratch using it would be good experience.  Technologies used were ASP.NET MVC, C# 4.0, SQL Server 2008, Entity Framework Code First 4.0,
     Linq, Razor and plenty of Dependency Injection using Ninject.
</p>

<p>
    I am currently looking for an MVC developer role at mid-level so that I can push my experience and skills forward.  Primarily, I am looking around the 
    Lancashire area but will consider relocating if the position is right.  
    If you have any positions available, then please free to e-mail using the contact form on this site and I will get back to you as soon as possible.
</p>



